:root{
  font-family: "SUIT", system-ui, -apple-system, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #eef2ff;
  background: transparent;
}

html, body, #app {
  height: 100%;
  margin: 0;
}

body {
  background: transparent;
  overflow: hidden;
  overscroll-behavior: none;
}

button {
  font-family: inherit;
}
